.app {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background: linear-gradient( #6a11cb, black ,#6a11cb);

}

h1 {
  font-size: 2.5rem;
  color: #ffffff;
  margin-bottom: 20px;
}


.emoji-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

button {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 2rem;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #c2adfc;
  transform: scale(1.1);
}

button:active {
  background-color: #aaa;
}


.mood-display {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mood-display p {
  font-size: 1.5rem;
  color: #333;
}

.mood-display strong {
  color: #007bff;
  font-weight: bold;
}
